body, html {
  margin: 0px;
  top: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  background-color: #101010;
  height: 50px;
  margin-top: 0px;
}

.center-y{
  display: flex;
  align-items: center;
  height: 100%; 
  padding-left:10px;
  padding-top: 5px;
}

p {
  margin-top: 0px;
}

.text-white {
  color: white;
}

.font-bold {
  font-weight: bold;
}

.font-semibold {
  font-weight: bold;
}
